header {
  background-color: #9738ff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

a {
  color: #FFFFFF;
  padding: 0.2em;
  background-color: #6e31be;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3) ;
}

a:active {
  background-color: #8b3de8;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2) ;

}
