:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video, canvas {
  width: 100vw;
  height: 60vh;
}

.count {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #247cff;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: #FFF;
}
